/*
    COMEÇO CUSTOMIZAÇÃO SLIDER
*/
.slide{
  height: 300px;    
  margin: 50px 0px;  
}

.slideChildrenContainer{
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: column;
}

.caretIcon{
    margin: 0 30px;
}

.sliderTrack{
    flex-basis: 80%
}
/*
    FIM CUSTOMIZAÇÃO SLIDER
*/