/*
    COMEÇO CUSTOMIZAÇÃO LINHAS
*/
.stretchChildrenWidth{
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 90%;
}

.flexRowContent{
   justify-content: center;
   max-width: 90%;
   margin-right: auto;
   margin-left: auto;
}

.flexRowContent--icons2{
    justify-content: center;
    padding-bottom: 200px;
 }

 .flexCol--footerBlock{
    width: fit-content;
    height: fit-content;
 }

 .flexColChild--footerBlock{
   width: fit-content;
   height: fit-content;
   margin: 0 0 0 0;
}

.flexColChild{
   /* background-color: deeppink; */
   min-width: fit-content;
}

 /* .flexColChild--footerSocialMediaBlock{
   margin-bottom: 20px;
 } */
 /*
    FIM CUSTOMIZAÇÃO LINHAS
 */