/*
    Customização das fotos dos colaboradores
*/
.imageElement--imgTime{
    border-radius: 100%;
    border: #dedede 3px solid;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.imageElement--greatPlaceWork{
    margin: 0 0 15px 10px;
}